
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/modules-index.css"/>
<body>
    <h1>Modules</h1>
    <div class="row">
        <div class="column">
            <div class="card">
                <h3 class="module-name">Moderation</h3>
                <h5 class="module-desc">This modules allows you to regulate your server.</h5>
                <input class="module-button" type="button" value="View Module" onclick="window.location='@Url.Action("moderation", "modules")'" />

            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3 class="module-name">Information</h3>
                <h5 class="module-desc">This modules allows you to see all sorts of cool information.</h5>
                <input class="module-button" type="button" value="View Module" onclick="window.location='@Url.Action("information", "modules")'"/>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3 class="module-name">Currency</h3>
                <h5 class="module-desc">This modules allows you to control a global virtual currency within the bot.</h5>
                <input class="module-button" type="button" value="View Module" onclick="window.location='@Url.Action("currency", "modules")'" />
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3 class="module-name">Minigames</h3>
                <h5 class="module-desc">This modules contains many funny minigames you can play within your server!</h5>
                <input class="module-button" type="button" value="View Module" onclick="window.location='@Url.Action("minigames", "modules")'" />
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3 class="module-name">Music</h3>
                <h5 class="module-desc">This modules allows you to listen to music with your friends while in a voice chat.</h5>
                <input class="module-button" type="button" value="View Module" onclick="window.location='@Url.Action("music", "modules")'" />
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3 class="module-name">Statistics</h3>
                <h5 class="module-desc">This modules allows you to check your stats from your favourite games!</h5>
                <input class="module-button" type="button" value="View Module" onclick="window.location='@Url.Action("statistics", "modules")'" />
            </div>
        </div>
    </div>
</body>

